
.main-content{
    margin-right: 50px;
}
.id{
    padding:10px;
}
.address{
    padding:40px;
}
.name{
    padding:8px;
}
.totaluser{
    font-weight: bold;
}

table {
    width: 100%;
  }
.background-card{
    height: 100%;
}